<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./Partials/Head'); %>
    <style>
      .media {
        padding: 10px;
        max-width: auto;
        max-height: auto;
        object-fit: contain;
      }
    </style>
</head>
<body class="h-screen bg-black">

    <div class="profile flex text-gray-300 px-3 mt-3">
          <img src="/images/uploads/<%= user.profileImage %>" class="w-10 h-10 mt-2 rounded-full" alt="">
          <div class="flex ml-4 mt-1">
               <h1> <%= user.username %></h1>
              
          </div>
     </div>
    <div class="flex items-center justify-center mt-20">
        <% if (story.endsWith('.mp4')) { %>
            <video controls autoplay class="media">
                <source src="<%= story %>" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        <% } else { %>
            <img src="<%= story %>" class="media" alt="My Story">
        <% } %>
    </div>
</body>
</html>
